<form method="POST" action="/feedData">
<input type="text" name="primary"><br/>
<hr/>
<input type="text" name="s1"><br/>

<input type="text" name="s2"><br/>

<input type="text" name="s3"><br/>

<input type="text" name="s4"><br/>

<input type="submit" value="add">
</form>